body.white{
    /* background-color: var(--color_white); */
    &::-webkit-scrollbar-track {
        // background: $color-nav-white;        /* color of the tracking area */
        background: $color-background-white;        /* color of the tracking area */
    
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-nav-white-a;    /* color of the scroll thumb */
    }
    
    #Total{
        background-image: $color-background-white;
    
    }
    nav ul li a {
        color: $color-nav-white-a;
        &:hover{
            color: white;
        }
        &:before{
            background-color: rgb(255, 185, 243);
        }
    
    }
    //agrego color al nav
    // nav{
    //  background-color: $color-nav-white;

    // }
    //-------------
    .colorNav{
        background-color: $color-nav-white;

    }
    .left{
        background: linear-gradient(to left, $color-lineas-white, transparent);
    
    }
    .right{
        background: linear-gradient(to right, $color-lineas-white, transparent);
    
    }
    .avatar{
        background-image: $color-background-avatar-white;
        &::before{
            border: $borde-avatar-white;
        }
    }
    .avatar_movil{
        background-image: $color-background-avatar-white;
        &::before{
        border: $borde-avatar-white;

        }
    }
    .containerMe {
        box-shadow:  $box-shadow-white;
        background: rgba(213, 174, 213, 0.5);
        &::before{
            border-bottom: solid 10px rgb(140, 95, 143) ;
            border-left: solid 10px rgb(237, 167, 243);
            box-shadow: 0 0 20px $color-lineas-white;
        }
        &::after{
            border-top: solid 10px rgb(237, 167, 243);
            border-right:solid 10px rgb(140, 95, 143);
            box-shadow: 0 0 20px $color-lineas-white;
        }
    
    }
    .containerHome {
        .texto .contacto-icons-home_a{
            background-color: $color-nav-white;
            // box-shadow: 0 0 50px $color-lineas-white;

        }
        .texto h1:nth-of-type(2){
            color: $color-ppal-white;
        
        } 
    }
    
    .proyecto{
        box-shadow: $box-shadow-white;
    }
    
}

