    /* variables*/
    $font-specific: 'Lilita One', cursive;
    $font-gral:'Josefin Sans', sans-serif;
    $font-nav:'Belanosima', sans-serif;
    $color-lineas:rgb(220, 24, 255);
    $color-lineas-white:#fda1ff;
    $color-ppal:rgb(245, 52, 255);
    $color-ppal-white:rgb(180, 125, 170);
    $color-texto: rgb(255, 251, 254);
    $color-nav:transparent;
    $color-font-nav:rgb(169, 165, 169);
    $borde-avatar: solid 2px rgb(255, 17, 235);
    $borde-avatar-white: solid 2px rgb(229, 159, 223);
    $color_dark:#2c2533;
    $color_white: #f7f1f6;
    $color-nav-white-a: rgb(194, 194, 194);
    $color-nav-white: rgb(100, 72, 95);
    $size-h1: 35px;
    $size-p: 20px;
    $box-shadow-white:0 0 10px #fda1ff;
    $box-shadow-dark: 0 0 10px #fb08ff;
    $color-background:radial-gradient(circle at 50% -12.54%, #2c2533 0, #2c2533 16.67%, #2c2533 33.33%, #2b2334 50.5%, #000021 67%, #000021 83.33%, #00001d 100% );
    $color-background-avatar:radial-gradient(circle at 8.22% 38.81%, #ff24fe 0, #ff28f6 12.5%, #d628e7 25%, #a425d2 37.5%, #6f1db7 50%, #38159a 62.5%, #000f7f 75%, #000766 87.5%, #000051 100%);
    $color-background-avatar-white:radial-gradient(circle at 46.48% 9.75%, #ff999c 0, #ff929f 8.33%, #f88aa0 16.67%, #e4819e 25%, #cd7698 33.33%, #b26b8e 41.67%, #955e80 50%, #795170 58.33%, #624661 66.67%, #4f3d54 75%, #403548 83.33%, #342e3f 91.67%, #2c2a37 100%);
    $color-background-white: radial-gradient(circle at 46.48% 9.75%, #aa7c86 0, #aa7c86 6.25%, #aa7c86 12.5%, #aa7c86 18.75%, #aa7c86 25%, #aa7c86 31.25%, #a57284 37.5%, #9e6881 43.75%, #955e80 50%, #8a5480 56.25%, #7e4d81 62.5%, #704782 68.75%, #604485 75%, #604485 81.25%, #553f93 87.5%, #261553 93.75%, #1c103d 100%);
