
#Home{
    display: flex;
    background:  linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0, 0.7)) , url('../../../public/imagen//blake-connally-IKUYGCFmfw4-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: img-move 30s linear infinite alternate;
    cursor: default;
    height: 100vh;

}
.animate__flip{
    animation-delay: 0.5s;
}
@keyframes img-move {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.containerHome{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 100vh;
    // backdrop-filter: blur(5px);

    .texto {
        margin: auto;
        font-size: large ;
        position: relative;
        h1{

            position: relative;
            &:nth-of-type(2){
                color: $color-ppal;
    
            }
            
            
            
        }
       
        .guion{
            animation: guion ease-in-out 0.8s infinite;
        }
        .contacto-icons-home{
           margin-top: 20px;
           display: flex;
           position: absolute;
           .contacto-icons-home_a{
                margin: 0 20px;
                width: 50px;
                height: 50px;
                cursor: pointer;
                @include mixinsfunc.flex-box;
                border-radius: 50%;
                // box-shadow: 0 0 10px $color-lineas;
                text-decoration: none;
                background-color: $color_dark ;
            }
        }
    }
    
    
}


.img-texto{
    @include mixinsfunc.flex-box(none);
    margin: 0;

}
@keyframes guion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.borde{
    display: flex;
    width: 300px;
    height: 2px;
    margin: auto;
    border-radius: 50%;

    &.left{
        background: linear-gradient(to left, $color-lineas, transparent);
    }
    &.right{
        background: linear-gradient(to right, $color-lineas, transparent);
    }
}
