
#Me{
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding-top: 80px;
    @include mixinsfunc.flex-box;
    flex-direction: column;
}
.containerMe{
    // border-radius: 50px;
    margin: 20px;
    box-shadow: $box-shadow-dark;
    background: rgba(214, 14, 228, 0.1);
    max-width: 100%;
    @include mixinsfunc.flex-box;
    flex-direction: column;
    position: relative;
            
    h1{
    text-align: center;
    line-height: 35px;

    }
    &::before,&::after{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
    }
    &::before{
        left: -10px;
        bottom : -10px;
        border-bottom: solid 10px rgb(141, 0, 151) ;
        border-left: solid 10px $color-lineas;
        // animation: nombreI 0.45s ease-in-out ;
        box-shadow: 0 0 20px $color-lineas;

    }
    &::after{
        top: -10px;
        right: -10px;
        border-top: solid 10px $color-lineas;
        border-right:solid 10px rgb(141, 0, 151);
        // animation: nombreD 0.45s ease-in-out ;
        box-shadow: 0 0 20px $color-lineas;

    }
   

}


.avatar{
    width: 170px;
    height: 170px;
    animation: flotar 6s ease-in-out infinite;
    @include mixinsfunc.flex-box;
    margin-top: 60px;
    background-image: $color-background-avatar;
    transform: rotate(45deg);
    border-radius: 50%;
    overflow: hidden;
    &::before{
        content: "";
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: absolute;
        background: url('../../../public/imagen/Mi_Avatar.jpg') no-repeat;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        // transform: rotate(-45deg);
        // border: $borde-avatar;
    }
    
}

@keyframes flotar {
    0% {
        box-shadow: 0 5px 15px rgba(0,0,0,0.7);
        transform: translatey(0);
    }
    50% {
        box-shadow: 0 25px 15px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px rgba(0,0,0,0.7);
        transform: translatey(0);
    }
}

.descripcionPersonal {
    

    padding: 60px;
    @include mixinsfunc.flex-box(center,none);

    .texto{
        max-width: 700px;
        color: $color-texto;
        // font-family: $font-gral;
        line-height: 35px;
        text-align: center;
        
    
    }
}

