@media (max-width:1220px) {
    nav ul{
        gap: 30px;

    }
}

@media (max-width:1197px) {
    nav{
        ul{
            padding-right: 50px;
            li a{
                font-size: x-large;
            }
        }
        .logo p{
            font-size: 45px;
            padding-left: 50px;    
        }
    }

    .descripcionPersonal .texto{
        max-width: 600px;
        
    } 
    
   
    
}

@media (max-width:1090px){
    
    nav{
        // background-color: $color_dark;
        ul{
            display: none;
            padding-right: 0;
            overflow-y:scroll; 
            li{
                margin-bottom: 15px;
                // border: solid 2px yellow;
                a:before{
                bottom: -20px;
                }
            }
            
        }
        .logo{
            margin-left: 50px;
            p {
                padding-left: 0;
                font-size: 36px;
            }
        }
        .menu{
            margin-right: 50px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 11;
            span{
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-font-nav;
                margin-top: 6px;
                transform-origin: 0px 100%;
                transition: all 300ms;
            }        
        }
    }

    body.white nav{
        // background: $color-nav-white;   
        // transition: 300ms ease all;
        
        ul{
            background: $color-nav-white;
            
        }
    
    }
    .activeline1__menu{
        transform: rotate(45deg) translate(-2px,1px);
    }
    .activeline2__menu{
        opacity: 0;
        margin-left: -30px;
    }
    .activeline3__menu{
        transform: rotate(-45deg) translate(-4px,2px);
    }

      
    .items_menu{
        width: 100%;
        height: auto;
        @include mixinsfunc.flex-box;
        flex-direction: column;
        top: 80px;
        position: absolute;
        background-color: $color_dark;
        padding-bottom: 70px;
        padding-top: 40px;
        animation: desplazamiento 500ms;

        /* overflow-y: scroll; */
        a{
            font-size: xx-large;
        }
    }
    @keyframes desplazamiento {
        from{
            top: -80px;
            /* opacity: 0; */
        }
        
        to{
            /* opacity: 1; */
            top: 80px;
        }
    }

    #Home{
        padding-top: 25px;
        text-align: center;
        .contacto-icons-home{
            justify-content: center;
            position: relative;
        }

    }
    #Me{
        margin-top: 50px;
    }
    
    .descripcionPersonal{
        text-align: center;
        margin: 0 0 50px 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        .texto{
            padding: 60px 20px 0 20px;

        }
        

    }  
  
    .proyectos{
        width: 95%;
    }

    .containerContact .icons{
        gap: 0;
    }
    
}

@media (max-width:700px){
    
    
    .sliders{
        width: 270px;
        height: 140px;
    
    }
    

}
@media (max-width:600px){
    
    .container-icons{
        width: 350px;
    }
   
    .slider{
        gap: 60px;
    }
}
@media (max-width:400px){

    #Home::before{
        bottom: -20px;
        
    }
   
}
@media (max-width:367px){
    
    .containerContact .icons{
        flex-direction: column;
        
    }
    .slider{
        gap: 30px;
    }
    
}
@media (max-width:300px){

    nav {
        .logo{
            margin-left: 20px;

        }
        .menu{
            margin-right: 20px;
        }
    }

    .containerMe h1 {
        font-size: x-large;

    }
    .container-slider{
        width: 180px;
        height: 180px;
       
    }
    
}