
// PROYECTOS..................................--------------------------------------------------------


input[type=radio]{
    display: none;
}

.sliders{
    position: relative;
    width: 450px;
    height: 230px;
    border-radius: 20px;
    // &::before{
    //     content: "";
    //     background-color: rgba(255, 255, 255, 0.5);
    //     height: 0;
    //     width: 100%;
    //     position: absolute;
    //     bottom: 0;

    // }
    // &:hover{
    //     &::before{
    //         height: 100px;
    //     }
    // }
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84,0.44,1);
    
}


#item-2:checked ~ .sliders #selector-1,
#item-1:checked ~ .sliders #selector-3,
#item-3:checked ~ .sliders #selector-2{
    transform: translateX(-95%) translateY(20%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}

#item-2:checked ~ .sliders #selector-3,
#item-3:checked ~ .sliders #selector-1,
#item-1:checked ~ .sliders #selector-2{
    transform: translateX(95%) translateY(20%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}
#item-1:checked ~ .sliders #selector-1,
#item-2:checked ~ .sliders #selector-2,
#item-3:checked ~ .sliders #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}

